<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); %>
<body>
  <%- include('partials/header', {bookTitle: 'Bookster'}); %>
  
  <div class="container">
    <% books.forEach( book => {  %>
      <div class="galleryItem">
        <a href="/book/<%=book.id%>"><img src="<%= book.image_url %>" alt=""/></a>          
        <h4>Author: <%= book.author %></h4>
        <h3>Title: <%= book.title %></h3>
      </div>
      <% });%>   
  </div>
  <footer>
    <h2>Number of books: <%= books.length %></h2>        
  </footer>
</body>
</html>
