<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
<body>
  <%- include('../partials/header', {bookTitle: 'Bookster'}); %>
  <div class="s">
    <div class="e">
      <a href="#"><img src="<%= book.image_url %>" alt=""/></a> 
    </div>
    <div class="h">
      <h2><%= book.title %></h2>
      <h3>ISBN: book.isbn</h3>
      <p><%= book.description %></p>
    </div>
  </div>
</body>
</html>
